/* STYLE.CSS */

html, body {
    width:100%;
    height:100%;
}

header h1 {
    font-family: 'Bungee Inline', cursive;
    text-align:center;
    padding:1rem 0;
    font-size:4rem;
}

.jumbotron {
    background: url(../images/bananas.png);
}

#random-number, #user-number {
    font-family: 'Bungee Inline', cursive;
    font-size: 3em;
    /*font-weight:bold;
    margin-bottom:0;*/
    padding-bottom:1rem;
    text-align: center;
}

#crystalRow i {
    font-size:5em;
    padding:.5em 0;
}

#red {
    color:red;
}

#green {
    color:green;
}

#purple {
    color:purple;
}

#goldenrod {
    color:goldenrod;
}

.btn1 {
    margin:0 .25em;
    opacity: .75;
}

.card-body {
    text-align: justify;
}

footer {
    padding:3rem;
}